.single-page-hero {
	width: 100%;
	height: 80vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow: auto;
	position: relative;
	background-color: #000428;
}



.single-page-hero-details {
	z-index: 1;
	/* position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); */
	padding-top: 20vh;
	overflow: hidden;
}

.single-page-hero-details h1 a,
.single-page-hero-details p {
	color: white;
	letter-spacing: 1px;
}

.single-page-hero-details h1 a {
	font-size: 45px !important;
	text-decoration: none;
}

.single-page-hero-details p {
	font-size: 15px;
}

.single-page-hero-poster {
	height: 18rem;
	width: 12rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 3px solid black;
}

.single-page-like-dislike-icons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 3px;
}

.thumbs-up,
.thumbs-down {
	font-size: 20px;
	color: white;
	cursor: pointer;
}

.thumbs-up.active{
	color: burlywood;
}

.thumbs-down.active{
	color: burlywood;
}

.single-page-like-counts,
.single-page-dislike-counts {
	color: white;
	font-size: 14px;
	margin: .5rem;
}

.single-page-tab .nav-item {
	font-size: 16px;
}

.single-page-tab .nav-link {
	color: white;
}

.single-page-tab .nav-link.active {
	background-color: transparent !important;
	border: none;
	color: burlywood !important;
}
/* 
.single-page-buttons {
	display: flex;
	flex-direction: row;
	justify-content: start;
	border-bottom: 1px solid whitesmoke;
}

.single-page-buttons button {
	margin: 1rem 1rem;
	color: whitesmoke;
	font-size: 16px;
}

.single-page-buttons span {
	margin: .8rem 1rem;
	color: black;
	font-size: 24px;
}

.single-page-buttons .active {
	color: burlywood;
} */

.cast-card-container {
	padding: 2rem .5rem .5rem .5rem;
}

.cast-card-parent {
	position: relative;
}

.cast-card {
	height: 12rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: .5rem;
}

.MuiTooltip-tooltip {
	background: linear-gradient(to right, #000428, #004e92);
}

.cast-name {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: white;
}

.cast-charecter {
	text-align: center;
}

/* the slides */
/*.slick-slide {
    margin: 0 10px;
}
/* the parent */
/*.slick-list {
    margin: 0 -10px;
}*/
