.nav-link {
	text-decoration: none;
	margin: 1rem 1rem;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 2px;
	color: white !important;
}

.main-logo {
	width: 50px;
}

.navbar-transparent{
	background: transparent;
	transition: all 300ms ease;
}

.navbar-color{
	background: linear-gradient(to right, rgba(44, 83, 100, 1), rgba(32, 58, 67, 1), rgba(15, 32, 39, 1));
	transition: all 300ms ease;
}

.navbar-color .main-logo{
	width: 40px;
	transition: all 300ms ease;
}

.navbar-color .nav-link {
	text-decoration: none;
	margin: 0rem 1rem;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 2px;
	transition: all 300ms ease;
}

.navbar .form-control{
	width: 80% !important;
	background-color: transparent;
}

.navbar .form-control:focus{
	background-color: black;
}